h1 {
    font-size: 300%;
}
.forecastRow {
    margin-left: 13px;
}
.forecastCard {
    margin-right: 2px;
    border-radius: 9px;
}
.todayForecastCard {
    border-radius: 9px;
    padding-bottom:15px
}
#recentSearchRow {
    margin-left: 13px;
}
.uviBackground {
    width: 100px;
}
